/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  
  */
  background-color: var(--background-color-dark);
  --background-image: url("../images/cover-image-dark.png");
  --text-background-color: #ff0070;
  --span-text-color: #db00ff;
  --text-color: #f1b2ce;
  --title-color: #000028;
  --main-title-color: #ff0070;
  --button-element-color: #ff0070;
  --button-element-color-hover: rgba(255, 0, 112, 0.4);
  --button-element-color-rec: #ff0070;
  --rec-display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url("../images/cover-image-dark.png");
    --text-background-color: #ff0070;
    --span-text-color: #db00ff;
    --text-color: #f1b2ce;
    --title-color: #000028;
    --main-title-color: #ff0070;
    --button-element-color: #ff0070;
    --button-element-color-hover: rgba(255, 0, 112, 0.4);
    --button-element-color-rec: #ff0070;
    --rec-display: block;
  }
}
