/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-color: #fff1f7;
  --background-image: url("../images/cover-image-light.png");
  --text-background-color: #ff8dcb;
  --span-text-color: #ffc2e6;
  --text-color: #353430;
  --title-color: #353430;
  --main-title-color: #353430;
  --button-element-color: #353430;
  --button-element-color-hover: rgba(50, 49, 45, 0.4);
  --button-element-color-rec: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --text-background-color: #ff8dcb;
    --span-text-color: #ffc2e6;
    --text-color: #353430;
    --title-color: #353430;
    --main-title-color: #353430;
    --button-element-color: #353430;
    --button-element-color-hover: rgba(50, 49, 45, 0.4);
    --button-element-color-rec: none;
  }
}

.page.theme_light .rec {
  display: none;
}

.page.theme_light .circle {
  display: none;
}
