/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

body {
  margin: 0 auto;
  background-image: var(--background-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "IBM Plex mono", "Arial", sans-serif;
  color: var(--text-color);
  max-width: 1440px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;

  @media (width <= 768px) {
    flex-direction: column;
    gap: 10px;
  }
}

p {
  margin-bottom: 10px;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  width: 100%;
  min-height: 768px;
  height: 100vh;
  padding: 0 20px;
}

/* печально все с этим реком, через псевдоэлемент не вышло.
в целом все комментарии поправил, с пиксель перфектом какие-то неполадки, у меня контент страницы не может подстроиться под макет, чтобы сравнить
 */
.rec {
  position: absolute;
  top: 18px;
  right: 50px;
  display: var(--rec-display);
  font-size: 20px;
  color: var(--button-element-color-rec);
}

.rec::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--button-element-color-rec);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(255, 0, 112, 0.5);
  position: absolute;
  right: -25px;
  top: 6px;
}

.decorated-zone-top {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  border-top: solid 1px var(--button-element-color);
  border-right: solid 1px var(--button-element-color);
}

.decorated-zone-bottom {
  height: 25px;
  width: 25px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-bottom: solid 1px var(--button-element-color);
  border-left: solid 1px var(--button-element-color);
}

nav.header__theme-menu {
  display: flex;
  align-self: start;
  justify-self: center;
  margin-top: 20px;

  @media (width <= 768px) {
    align-self: center;
    justify-self: end;
    margin-top: 0;
  }
}

.header__theme-menu-button {
  background-color: transparent;
  color: inherit;
  border: none;
  text-transform: lowercase;
  font-size: 18px;
  color: var(--button-element-color);
}

.button:disabled {
  border: 2px solid var(--button-element-color);
  color: var(--button-element-color);
}

.button:hover {
  border: 2px solid var(--button-element-color-hover);
  color: var(--button-element-color);
}

.button:focus-visible {
  outline: none;
  border-bottom: 2px solid var(--button-element-color);
  color: var(--button-element-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header-span-text {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--span-text-color);
  text-shadow: 0 4px #ff0070;
  font-family: "IBM Plex mono", "Arial", sans-serif;
  font-weight: bold;
  word-spacing: 1.5rem;

  @media (width <= 580px) {
    line-height: 82.5%;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

.text-background-color {
  background-color: var(--text-background-color);
}

.header-main-text {
  max-width: 491px;
  font-weight: bold;
  justify-self: flex-end;
  color: var(--title-color);
}

.content {
  padding: 0 20px;
  display: grid;
  gap: 80px;
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media (width <= 580px) {
    grid-template-columns: 1fr;
  }
}

.section__text-wrapper {
  grid-column: span 2;
  display: grid;
  gap: 20px;
}

.title-style {
  font-size: 18px;
  margin-bottom: 20px;
  width: 100%;
  color: var(--title-color);
}

.main-title {
  color: var(--main-title-color);
}

h4 {
  font-weight: 400;
}

.title-style-fate {
  /* grid-column: 1 / -1; */
  margin-bottom: 0;
}

.section__what {
  & .section__text-wrapper {
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);

    @media (width <= 768px) {
      grid-template-columns: 1fr;
    }
  }
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 #ff8dcb;

  @media (width <= 580px) {
    text-shadow: 1px 1px 0 #ff8dcb;
  }
}

.text-link:hover {
  border-bottom: 2px solid currentColor;
}

.text-link:focus {
  border: 2px solid #353430;
  border-radius: 0;
}

.image-section {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sunset {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.ice {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 5;
}

.tape {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 8;
}

.books {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}

.street {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 8;
}

.image-section {
  @media (width <= 580px) {
    display: flex;
    flex-direction: column;
  }
}

.footer {
  /* max-height: 768px; */
  position: relative;
  height: 100vh;
  display: flex;
  margin-top: 60px;
}

.footer-text {
  display: block;
  position: relative;
  margin: auto;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--span-text-color);
  text-shadow: 0 4px #ff0070;
  font-family: "IBM Plex mono", "Arial", sans-serif;
  font-weight: bold;

  @media (width <= 580px) {
    line-height: 82.5%;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
